html{
    background-color: #f8f6e7;
    font-family:'Tajwal',sans-serif;
}
.down{
    margin-top:10em;
    width: 100%;
}
.b1{
    
    width:300px;
    margin-right: 13%;
    float:right;
}
.b2{
    width:200px;
    margin-left:15%;
    float:left;
}
    .sel {
        text-align: right;
        width: 150px;
        float:right;
        margin: 10px;

    }

    .sel:focus {

        min-width: 150px;

        width: auto;

    }    
    .line{
        width:70%;
        margin-left: 17%;
        border:solid;
    }
    .btn{
        margin-right: 10%;
        float:right;
        margin-top:3%;
        width:70%;
    }
    .sbtn{
        font-size:20px;
        width:15vw;
        height:8.5vh;
        margin-right: 10%;
        margin-bottom: 7%;
        float:right;
        background-color: rgb(87, 177, 128);
        box-shadow: 3px 6px 6px gray;
    }
    .sbtn:hover{
        background-color: rgb(142, 142, 143);
        color: black;
    }
    
    @media only screen and (max-width: 800px){
        .b1{
            width:30%;
            margin-right: 12%;
        }
        .b2{
            width:30%;
            margin-left:8%;
        }
        .btns{
            margin-right:  0;
            width:100%;
        }
        .sbtn{
            font-size:18px;
            width:20vw;
            height:10vh;
        }
        
    }
    @media only screen and (max-width: 420px){
        .sbtn{
            width:88vw;
            font-size:20px;
            margin-top: 10%;
            margin-right: 8%;
            margin-bottom: 10%;
        }
        .b1{
            width:40%;
            margin-right: 4%;
        }
        .b2{
            width: 20%;
            margin-left:25%;
            margin-top:0;
        }
        .down{
            margin-top: 20%;
        }
        .line{
            width: 100%;
            margin-left: 0;
        }
        html,body{
            overflow-x: hidden;
        }
    }
    @media only screen and (max-width: 360px){
        .b2{
            margin-left:27%;
        }
    }