/* Website Info container */
.info{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: right;
  background-image: url("../img/indexbg7.jpg");
  background-size: 100% auto ;
  background-repeat:no-repeat;
  min-height: 70%;
}

.info > span{
  float: right;
  width: 90%;
  font-size: 35px;
  color: white;
  font-family: 'Tajawal', sans-serif;
  padding: 3% 5% !important;
  padding-bottom: 20% !important;
  text-align: center;
  padding: 0;
  padding-bottom: 30%;
}
inside{
  display: block;
  margin-top: 100px;
}

inside > div{

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  display: grid;
  text-align: center;
  /* color: white; */
  font-size: 25px;
}

inside > div > span{
  padding: 5%;
}

/* Course track information */
.coursetrack{
  display : flex;
  margin-top: 3%;
}

.coursetrack > .text{
  /* margin-right: 5%; */
  width: 50%;
  background-color: lightblue;
}

.coursetrack > .text > span{
  font-family: 'Tajawal', sans-serif;
  display: block;
  color: white;
  padding: 15% 15%;
}

.sideimg{
  width: 50%;
  height: auto;
}

.discuss{
  display : flex;
  margin-top: 3%;
}

.discuss > .text{
  /* margin-left: 5%; */
  width: 50%;
  background-color: lightblue;
}

.discuss > .text > span{
  font-family: 'Tajawal', sans-serif;
  display: block;
  color: white;
  padding: 15% 15%;
}

.discuss > div {
  background-color: #ecae01 !important;
}

.calculate{
  display : flex;
  margin-top: 3%;
}

.calculate > .text{
  /* margin-left: 5%; */
  width: 50%;
  background-color: lightblue;
}

.calculate > .text > span{
  font-family: 'Tajawal', sans-serif;
  display: block;
  color: white;
  padding: 15% 15%;
}

.calculate > div{
  background-color: #33b5e5 !important;
}

.disc{
  background-color: #301106;
}

#firefly {
  background-color: #fe4934;
  /* z-index: -1; */
}

#firefly > span > a{
  display: block;
  margin-top: 1%;
  padding : 1%;
}

.btn:hover{
  background-color: #59d2ff;
}

.btn2:hover{
  background-color: #ff8d80;
}

.btn3:hover{
  background-color: #ffd256;
}


.stats{
  background-image: url(../img/bg_stat.jpg) !important;
  width: 86%;
  margin: 0 5%;
  margin-top: 3%;
  height: auto;
  display: inline-flex;
  background-color: #101444;
  padding: 0% 2% 2% 2%;
}

.course-stat{
  background-image: url(../img/course_stamp.png);
}

.major-stat{
  background-image: url(../img/major_stamp.png);
}

.uni-stat{
  background-image: url(../img/uni_stamp.png);
}

.user-stat{
  background-image: url(../img/user_stamp.png);
  background-size: 23% !important;
}

.stats > div{
  width: 25%;
  height: 100%;
  background-size: 28%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.7vw;
  color: white;
  font-family: 'Solway', serif;
}

/* For other devices */

@media only screen and (max-width: 1024px) {
  .info{
    min-height: auto ;
  }
}

@media only screen and (max-width: 768px) {
  .info > span{
    background-image: url("../img/indexbg8.jpg") !important;
    background-repeat:no-repeat;
    font-size: 35px;
    padding: 5% 5% !important;
    padding-bottom: 10% !important;
    background-size: 100% auto;
    /* padding-bottom: 15% !important; */
  }
  .info{
    min-height: auto;
    font-size: 35px;
  }

  inside > div > .text > span{
    padding: 15%;
  }

}



@media only screen and (max-width: 500px) {
  .info > span{
    background-image: url("../img/indexbg6.jpg") !important;
    font-size: 20px !important;
    padding: 5% 5% !important;
    /* padding-bottom: 20% !important; */
  }
  .sideimg{
    display: none;
  }
  inside > div{
    display : flex;
    margin-top: 3%;
  }

  inside > div > div{
    width: 100% !important;
  }

  inside > div > .text{
    width: 100%;
    margin: 0;
    font-size: 20px !important;
  }

  inside > div > .text > span{
    padding: 10% !important;
  }

  .stats > div > span{
    margin-top: 3%;
  }

  .stats > div{
    width: 100%;
    height: 20%;
    background-size: 40%;
  }



}
