body{
	width: 100vw;
	padding: 0;
	margin: 0;
	color: #e2b62a;
	font-weight: bold;
  font-family: 'Tajawal', sans-serif !important;
}
h1{
  text-align: center;
	display: block;
	margin: 0;
	padding:0;
	width: 100%;
	padding-top:   3vh;
	padding-bottom:3vh;
}
#signf{
  direction: rtl;
	margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 150px;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 5vh;
    width: 64vw;
    background-image: url("../img/books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#infot{
	background: rgba(0,0,0,0.5);
	display: block;
	padding-bottom: 5vh;
}
.dcon{
	text-align: right;
	padding: 50px 75px;
	padding-bottom: 0px;
}
.dcon input{
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	border-width: 0px;
	border-radius: 2px;
}
.dcon div{font-size:17px;}
.inlinedata1{
	display:inline-block;
    width: 20vw;
    height: 30px;
}
.inlinedata2{
	display:inline-block;
	width: 100px;
}
.dcon button{
    width: 130px;
    height: 40px;
}
@media only screen and (max-width: 800px) {
	#signf{
		margin-left:  2vw;
		margin-right: 2vw;
		padding-left: 0vw;
		padding-right:0vw;
		padding-bottom: 3vh;
		margin-top:   90px;
		padding-top:   2vw;
		width: 96vw;
	}
	h1{
		width: 100%;
		font-size:1.5em;
	}
	.dcon{
		padding: 50px 2px;
		padding-bottom: 0px;
	}
}

#error{
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
	color: red;
}
.dcon input{
	/* background-color:red; */
}
